<!DOCTYPE html>
<html>
  <head>
    <title>TCTS WEBQ</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <style>
      #banner {
        height: 360px;
        width: 100%;
        object-fit:cover;
        margin-bottom: 16px;
      }
    </style>
  </head>
  <body>
    {% include 'nav.html' %}
    <div class="container">
      <h1 class="text-center mt-2 mb-4">
        <br>
        TCTS WEBQ AUTOMATION FRAMEWORK
      </h1>
      <div class="row" style="margin-bottom:32px">
        <div class="col-md-6">
      <h3>Overview</h3>
      <p class="lead">
        Telecom Service Providers are rapidly transforming their legacy networks to support new IP and Multimedia services. Network equipment manufacturers (NEMs) face a constant challenge to expedite the development, testing and deployment of new network elements that offer a wide range of value-added, revenue generating services. Testing of such complex network elements in a service-oriented network in terms of interoperability, service quality and end-user experience often pose a significant challenge.
      </p>
      <h3>TCTS Advantage</h3>
      <p class="lead">
        TCTS’ offer product validation & QA services to OEMs and Service Providers leveraging over two decades of experience in product engineering and network design & operations. Our system testing & QA services are designed to ensure maximum test coverage and handsome productivity gains from test automation. As the networking industry continues to become more competitive globally, TCTS offers multiple engagement options that include near-shore and offshore execution, and SLA driven engagements.
      </p>
        </div>
        <div class="d-none d-md-block col-md-6">
        <img src="/static/WEBQ.png" style="height:550px;border-radius:6px;">
        </div>
      </div>
      <h2 class="text-center mt-2 mb-4">WEBQ Platforms</h2>
      <div>
        {% for service in platform %}
          {% include 'service.html' %}
        {% endfor %}
      </div>
      <div class="text-center">
      <a class="btn btn-primary btn-lg" href="mailto:manasha.biswal@tatacommunications.com?subject=Enquiry%20about%20WEBQ%20Test%20Automation%20Framework">Contact Us</a>
      </div>
    </div>
    {% include 'footer.html' %}
  </body>
</html>
